* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #17153b;
  text-align: center;
  color: #c8acd6;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 80px;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}
.box {
  height: 19vmin;
  width: 19vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 10vmin;
  color: #433d8b;
  background-color: #f8eded;
}
#reset {
  padding: 1rem;
  font-size: 1rem;
  background-color: #433d8b;
  color: white;
  border-radius: 1rem;
  border: none;
}
